.embed {
  display: flex;
  position: relative;
  justify-content: center;
  width: 75vw;
  height: 100%;
  padding-bottom: 56.25%;
}
.embed iframe {
  position: absolute;
  width: 75vw;
  height: 100%;
  border: none;
  box-shadow: 0 0 30px rgb(0 0 0 / 30%);
}