.service_item {
  flex: 0 0 auto;
  width: 22%;
  transition: all .3s;
  position: relative;
  z-index: 1;
  padding: 30px;
  height: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: 10px;
  border-top-right-radius: 50px;
}
.service_item h1{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 30px;
}
.service_item p{
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #afafaf;
  margin-bottom: 20px;
}
.service_item:hover {
  background: rgb(67,159,242);
  background: linear-gradient(30deg, rgba(67,159,242,1) 0%, rgba(67,159,242,1) 41%, rgba(90,217,250,1) 100%);
  color:white !important;
}
.icon {
  position: absolute;
  margin-left: 0px;
  margin-top: -80px;
  width: 100%;
  height: auto;
  transition: all .3s;
}