.button a{
  margin-top: 2rem;
  display: inline-block;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
    padding: 15px;
    margin-left: 15px;
    color: #fff;
    background-color: #1d1241;
    border-radius: 10px;
}
.button a:hover{
  filter: opacity(0.8);
}